* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: math;
    font-size: 16px;
}

body {
    background: #fff;
}

.head h2 a {
    color: crimson;
    font-size: 30px;
    position: absolute;
    font-family: cinzel;
}

.navbar ul {
    margin-left: 800px;
}

.navbar li {
    display: inline;
}

.navbar li a {
    margin: 20px;
    color: black;
    font-size: 22px;
}

button {
    position: absolute;
    background-color: black;
    padding: 2px;
    width: 100px;
    border-radius: 5px;
    margin: 0 0 0 10px;
}

button a {
    color: white;
}

.mid-1 h1 {
    font-size: 40px;
    position: absolute;
    display: block;
    padding: 60px 0 0 60px;
}

.mid-1 p {
    color: grey;
    font-size: 22px;
    display: block;
    padding: 120px 740px 0 60px;
}

.img-1 img {
    position: absolute;
    height: 650px;
    padding: 0 0 0 50px;
}

.mid-1-p #p1 {
    color: black;
    padding: 700px 300px 0 250px;
    font-size: 20px;
    font-family: josefin sans;
}

.mid-1-p #p2 {
    color: black;
    font-family: josefin sans;
    font-size: 20px;
    padding: 50px 300px 0 250px;
}

.mid-1-p #p3 {
    color: black;
    font-family: josefin sans;
    font-size: 20px;
    padding: 50px 300px 50px 250px;
}

.img-2 img{
    position: absolute;
    margin: 0px 0px 0px 0px;
}

.img-2 img {
    position: absolute;
    margin: 0px 0px 0px 60px;
    height: 400px;
}

.img-3 img {
    position: absolute;
    margin: 0px 0px 0px 680px;
    height: 400px;
}

.mid-2-p #p4 {
    color: black;
    font-family: josefin sans;
    font-size: 20px;
    padding: 450px 300px 0px 260px;
}

.mid-2-p #p5 {
    color: black;
    font-family: josefin sans;
    font-size: 20px;
    padding: 50px 300px 60px 260px;
}

.mid-3 h1 {
    font-size: 20px;
    position: absolute;
    margin: 0 0 0 60px;
}

.img-4-content-1 {
    position: absolute;
    padding: 40px 0px 0px 50px;
}

.img-4-content-1 h1{
    position: absolute;
    margin: 0 0 0 0;
}

.img-4-content-1 p{
    position: absolute;
    padding: 35px 0 0 0;
}

.img-5-content-2 {
    position: absolute;
    padding: 40px 0px 0px 450px;
}

.img-5-content-2 h1{
    position: absolute;
    margin: 0 0 0 0;
}

.img-5-content-2 p{
    position: absolute;
    padding: 35px 0 0 0;
}

.img-6-content-3 {
    position: absolute;
    padding: 40px 0px 0px 850px;
}

.img-6-content-3 h1{
    position: absolute;
    margin: 0 0 0 0;
}

.img-6-content-3 p{
    position: absolute;
    padding: 35px 0 0 0;
}